{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "airbnb",
    "airbnb/hooks",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "prettier"
  ],
  "plugins": ["react", "react-hooks", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    // There's no need in Next.js
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-one-expression-per-line": "warn",
    "react/jsx-filename-extension": [1, { "extensions": [".ts", ".tsx"] }],
    // Import resolver
    "import/no-unresolved": "off",
    "import/extensions": "off",
    // db limitations
    "camelcase": "off",
    "no-underscore-dangle": "off",
    // ???
    "react/display-name": 1,
    "react/jsx-props-no-spreading": "warn",
    "react/jsx-curly-newline": "off"
  }
}
